header>span{
    font-family: Poppins;
font-size: 48px;
font-weight: 700;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
margin-left: 59px;
margin-top: 27px;;
}
header{
    display: flex;
    gap:20px;
    padding-left: 27px;
    padding-top: 59px;
}
html{
    background-color: #000000;

}
header>input{
    width: 597px;
    height: 53px;
    padding-left: 319px;
    padding-top: 33px;

}